<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Appointments</title>
</head>
<body>
    <h1>Welcome to the Healthcare Appointment System</h1>
    <a href="/book">Book Appointment</a><br>
    <a href="/reschedule">Reschedule Appointment</a><br>
    <a href="/appointments">View All Appointments</a><br>
    <a href="/chatbot">chatbot</a> <br>
    <a href="/medstore">Medstore</a>
</body>
</html>
